@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brandColor: #116fda;
}

body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box
}

.input-title{
  @apply text-base;
}

.error-message{
  @apply text-red-500 text-base;
}